
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">User Management System</span>
      </a>

      <ul class="nav nav-pills">
        <div *ngIf="hasRoute('/new-user')">
        <li class="nav-item"><app-button routerLink="/" text="Home"></app-button></li>
        </div>
        <div *ngIf="hasRoute('/')">
        <li class="nav-item"><app-button routerLink="/new-user" color="green" text="Add User"></app-button></li>
        </div>

      </ul>
    </header>
  </div>
