<div class="wrapper">  
    <h2>User Management System</h2>
    <table>
        
        <tr>
            <th>Sl.No</th>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Phone No</th>
            <th>Email ID</th>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
        <tr>
            <td data-cell="Sl.No">1</td>
            <td data-cell="ID">A101</td>
            <td data-cell="FirstName">Kavya</td>
            <td data-cell="LastName">Lolla</td>
            <td data-cell="Phone No">9483572939</td>
            <td data-cell="Email ID">kavya@gmail.com</td>
        </tr>
    </table>
</div>  